{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "browser": true,
    "mocha": true,
    "node": true
  },
  "rules": {
    "react/jsx-filename-extension": [2, { "extensions": [".js", ".jsx"] }]
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "./webpack.config.development.babel.js"
      }
    }
  },
  "plugins": [
    "react", "import"
  ]
}
